header.bg-indigo-600.p-4
    .container.mx-auto.flex.justify-between.items-center
        a(href="/") 
            h1.text-2xl.text-white.font-extrabold.text-center Bienes 
                span.font-normal Raices

        nav(class="hidden my-5 text-sm font-bold text-white md:flex md:gap-3 md:items-center")
            a(href="/mis-propiedades") Mis Propiedades
            a(href="") Mi perfil
            a(href="" class="px-10 py-2 bg-indigo-800 rounded-lg") Cerrar Sesion